name: Build SparseVector

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y g++

      - name: Compile with Makefile
        run: make

      - name: Run (optional sanity check)
        run: ./test || true
